%h3.page-title 修改模块
.file-editor
  = form_tag(project_edit_tree_path(@project, @id), method: :put, class: "form-horizontal") do
    .file-holder
      .file-title
        %i.icon-file
        %span.file_name
          = @path
          %small
            on
            %strong= @ref
        %span.options
          .btn-group.tree-btn-group
            = link_to "取消", project_blob_path(@project, @id), class: "btn btn-tiny btn-cancel", confirm: leave_edit_message
      .file-content.code
        %pre#editor= @blob.data

    .control-group.commit_message-group
      = label_tag 'commit_message', class: "control-label" do
        提交信息
      .controls
        = text_area_tag 'commit_message', '', placeholder: "Update  #{@blob.name}", required: true, rows: 3
    .form-actions
      = hidden_field_tag 'last_commit', @last_commit
      = hidden_field_tag 'content', '', id: "file-content"
      .commit-button-annotation
        = button_tag "提交更改", class: 'btn commit-btn js-commit-button btn-primary'
        .message
          到分支
          %strong= @ref
      = link_to "取消", project_blob_path(@project, @id), class: "btn btn-cancel", confirm: leave_edit_message

:javascript
  ace.config.set("modePath", gon.relative_url_root + "#{Gitlab::Application.config.assets.prefix}/ace-src-noconflict")
  var ace_mode = "#{@blob.language.try(:ace_mode)}";
  var editor = ace.edit("editor");
  if (ace_mode) {
    editor.getSession().setMode('ace/mode/' + ace_mode);
  }

  disableButtonIfEmptyField("#commit_message", ".js-commit-button");

  $(".js-commit-button").click(function(){
    $("#file-content").val(editor.getValue());
    $(".file-editor form").submit();
  });
